// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
  $navbar-bg:  rgba(216, 6, 33, .65);
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}
